<div class="row">        <!-- three days -->
    <div class="col-md-1">
        <table class="table table-striped">
            <tr><td>&nbsp;</td></tr>
            <tr><td>8:00-8:15</td></tr>
            <tr><td>8:15-9:00</td></tr>
        </table>
    </div>

  <div class="col-md-4"> <!-- left column -->
    <h3>Wednesday, May 12</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>8:00-8:15</td><td>Welcome + announcements</td></tr>
      <tr><td>8:15-9:00</td><td>Storage spaces Lecture + hands-on</td></tr>
      <tr><td>9:00-10:00</td><td>Data management Lecture + hands-on</td></tr>
    </table>
  </div>
  <div class="col-md-4"> <!-- middle column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-4"> <!-- right column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
