#wrapper {
  display: grid;                             /* 1 */
  grid-template-columns: repeat(4, 240px);   /* 4 columns wide, 240px total fixed width */
  grid-auto-rows: 60px;                      /* default cell height */
  grid-gap: 5px;                             /* cell spacing */
  width: 975px;                              /* 4x240+3x5 */
  border: 2px solid #ffffff;                 /* hide it white */
  font-family: Helvetica, Sans-Serif;
  color: #000000;
  font-size: 12pt;
}

.tall {
  grid-row: 2 / 5;                            /* 5 */
  grid-column: 3 / 3;                         /* 6 */
}

.tallt {
  grid-row: 2 / 4;                            /* 7 */
  grid-column: 4 / 4;                         /* 8 */
}

.talltt {
  grid-row: 7 / 9;                            /* 9 */
  grid-column: 2 / 2;                         /* 10 */
}

.tallttt {
  grid-row: 7 / 9;                            /* 11 */
  grid-column: 3 / 3;                         /* 12 */
}

.timeperiod {
  background-color: #EBEBEB;
  border: 1px solid #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  }

  .dayofweek {
  background-color: #EBEBEB;
  border: 1px solid #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#wrapper {
  display: grid;                             /* 1 */
  grid-template-columns: repeat(4, 240px);   /* 4 columns wide, 240px total fixed width */
  grid-auto-rows: 60px;                      /* default cell height */
  grid-gap: 5px;                             /* cell spacing */
  width: 975px;                              /* 4x240+3x5 */
  border: 2px solid #ffffff;                 /* hide it white */
  font-family: Helvetica, Sans-Serif;
  color: #000000;
  font-size: 12pt;
}

.tall {
  grid-row: 2 / 5;                            /* 5 */
  grid-column: 3 / 3;                         /* 6 */
}

.tallt {
  grid-row: 2 / 4;                            /* 7 */
  grid-column: 4 / 4;                         /* 8 */
}

.talltt {
  grid-row: 7 / 9;                            /* 9 */
  grid-column: 2 / 2;                         /* 10 */
}

.tallttt {
  grid-row: 7 / 9;                            /* 11 */
  grid-column: 3 / 3;                         /* 12 */
}

.block {
  background-color: red;
  font-size: 14px;
  color: #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeperiod {
  background-color: #EBEBEB;
  border: 1px solid #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  }

  .dayofweek {
  background-color: #EBEBEB;
  border: 1px solid #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
