<div id="wrapper">
  <div class="timeperiod">Sessions</div>
  <div class="dayofweek">Wednesday, May 12</div>
  <div class="dayofweek">Thursday, May 13</div>
  <div class="dayofweek">Friday, May 14</div>
  <div class="timeperiod">8:00-8:15</div>
  <div class="block" style="background-color: #F0BFC1;"><b>Welcome + announcements</b><br><span class="instructors">C. David, D. DeMuth</span></div>
  <div class="block tall" style="background-color: #D8EBFB;"><b>Grid job submission + common errors</b><br>Lecture +hands-on+exercises<br><i>Follow-up: see "Expert in the room" Friday late morning</i><br><span class="instructors">K. Herner</span></div>
  <div class="block tallt" style="background-color: #D0C6E3;">"Expert in the room"<br><b>LArSoft: How to modify a module</b><br><span class="instructors">T. Junk</span></div>
  <div class="timeperiod">8:15-9:00</div>
  <div class="block" style="background-color: #D8EBFB;"><b>Storage spaces</b><br>Lecture+hands-on<br><span class="instructors">M. Kirby</span></div>
  <div class="timeperiod">9:00-10:00</div>
  <div class="block" style="background-color: #D8EBFB;"><b>Data management</b><br>Lecture+hands-on<br><span class="instructors">S. Timm</span></div>
  <div class="block" style="background-color: #A9D098;">Code-makeover<br><span class="instructors">C. David</span></div>
  <div class="timeperiod">10:00-10:30</div>
  <div class="block" style="background-color: #F6BF8B;">Coffee Break!</div>
  <div class="block" style="background-color: #F6BF8B;">Coffee Break!</div>
  <div class="block" style="background-color: #F6BF8B;">Coffee Break!</div>
  <div class="timeperiod">10:30-11:00</div>
  <div class="block" style="background-color: #FEE087;"><b>Quiz!</b><br>Storage space &amp; data management<br><span class="instructors">C. David</span></div>
  <div class="block" style="background-color: #FEE087;"><b>Quiz!</b><br>Grid job submission<br><span class="instructors">C. David</span></div>
  <div class="block" style="background-color: #FEE087;"><b>Quiz!</b><br>Best programming practices<br><span class="instructors">C. David</span></div>
  <div class="timeperiod">11:00-12:15</div>
  <div class="block talltt" style="background-color: #D8EBFB;"><b>Intro to art/LArSoft</b><br>Lecture<br><b>Exploring fcl files</b><br>hands-on<br><i>Follow-up: see Friday morning</i><br><span class="instructors">T. Junk</span></div>
  <div class="block tallttt" style="background-color: #A9D098;">Code-makeover<br><b>How to Improve your Code for Better Efficiency</b><br><span class="instructors">T. Junk</span></div>
  <div class="block" style="background-color: #D0C6E3;">"Expert in the room"<br><b>Grid &amp; batch job submission</b><br><span class="instructors">K. Herner</span></div>
  <div class="timeperiod">12:15-12:30</div>
  <div class="block" style="background-color: #F0BFC1;"><b>Closing remarks</b><br><span class="instructors">C. David, D. DeMuth</span></div>
</div>
